html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
}

.container {
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
}
