.stats {
    margin-top: -2rem;
    text-align: center;

    &__card {
        cursor: pointer;
    }

    &__card--facebook {
        border-top: 3px solid $facebook;
    }

    &__card--twitter {
        border-top: 3px solid $twitter;
    }

    &__card--instagram {
        padding: 3px 0 0 !important;

        background: $instagram;
        > div {
            background-color: var(--accent-color-1);
            padding: calc(1rem + 1.5px);
            margin-bottom: 0;
            border-radius: 0.45rem;
        }
    }

    &__card--youtube {
        border-top: 3px solid $youtube;
    }

    &__card + &__card {
        margin-top: 1rem;
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        .handle {
            font-weight: bold;
            opacity: 0.7;
        }
    }

    &__followers {
        padding-top: 1rem;
    }

    &__followers-number {
        font-size: 3rem;
    }

    &__followers-label {
        text-transform: uppercase;
        color: var(--light-accent-color);
    }

    &__indicator {
        padding-top: 1rem;
        font-size: 0.7rem;
        font-weight: bold;

        &--up {
            color: $lime-green;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 0.5rem;
        }

        &--up::before {
            content: "";
            background: no-repeat url(../images/icon-up.svg);
            height: 4px;
            width: 8px;
        }

        &--down {
            color: $bright-red;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 0.5rem;
        }

        &--down::before {
            content: "";
            background: no-repeat url(../images/icon-down.svg);
            height: 4px;
            width: 8px;
        }

    }
}

@media (min-width: 500px) {
    .stats {
        display: flex;
        column-gap: 2rem;
        justify-content: space-between;

        margin-top: -5rem;

        &__card {
            min-width: 23%;
        }

        &__card + &__card {
            margin-top: 0;
        }
    }
}
